/* h1 etiketi için stil tanımlaması */
h1{
    /* color: Yazı rengini belirler. brown (kahverengi) olarak ayarlanmış */
    color: brown;
    /* font-size: Yazı boyutunu belirler. 20 piksel olarak ayarlanmış */
    font-size: 20px; 
}

li{
    font-weight: bold; /* Yazıyı kalın yapar. */
}

/* id selector ile stil tanımlaması */
#marmara-link{
    text-decoration: none; /* Metni altını çizmez. */
}

/* class selector ile stil tanımlaması */
.title{
    color:purple;
}